
table {
	margin: 10px auto;
	border: thin solid black;
	box-shadow: 0 0 10px;
	border-collapse: collapse;
}

caption {
  padding: 10px;
  caption-side: bottom;
	color: black;
	font-size: .85rem;
}

tr:first-child th, #blank {
	background-color: darkgreen;
	color: white;
    border-color: darkgreen;
}

th, td {
	padding: 7px 15px;
	border: 1px solid;
}

th {
	background-color: lightgreen;
	font-size: larger;
}

td {
	text-align: center;
}

tbody tr:nth-child(odd) {
	background-color: lightgray;
}
