@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Nanum+Myeongjo:wght@800&display=swap');
:root{
    --heading-font: "Nanum Myeongjo";
    --paragraph-font: "Lora";
}
h1, h2{
    font-family: var(--heading-font);
}
h3, h4, p{
    font-family: var(--paragraph-font);
}
header{
    text-align: center;
}
body{
    background-color: #f79256;
}
section{
    background-color: #fbd1a2;
    align-self: center;
    text-align: center;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
    min-width: 20px;
    max-width: 400px;
    border: 5px solid black;
}
.primary{
    background-color: #f79256;
}
.secondary{
    background-color: #fbd1a2;
}
.tercerary{
    background-color: #7dcfb6;
}