@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Nanum+Myeongjo:wght@800&display=swap');
:root{
    --heading-font: "Nanum+Myeongjo";
    --paragraph-font: "Lora";
}
content {
    max-width: 1600px;
    margin:0 auto;
}
h1, h2{
    font-family: var(--heading-font);
}
h3, h4, p{
    font-family: var(--paragraph-font);
}
body {
display: grid;
}
header{
    border: 5px solid black;
}
nav{
    border: 5px solid black;
    background-color: #fbd1a2;
}
#menu {
	font-size: xx-large;
	border: 1px solid rgba(0,0,0,.3);
	background-color: #fbd1a2;
	color: #000;
}
#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
}

.navlist {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #fbd1a2;
	color: #000;
}
.navlist li {
	display: none;
}
.navlist li a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #000;
}
.navlist li a:hover {
	background-color: #7dcfb6;
	color: #333;
	font-weight: 700;
}
.open li {
	display: block;
	width: 100%;
}
.open li a {
	display: block;
}
main{
    border: 5px solid black;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#hero-img {
    grid-column:1/4;
    grid-row: 1/3;
    z-index: -1;
    width: 100%;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
.button-box {
    text-align:center;
    font-family: 'Nanum-Myeong';
}
.card{
    display: flex;
    flex-wrap: wrap;
    background-color: #fbd1a2;
    justify-content: space-around;
    text-align: center;
    width: 85%;
    margin-bottom: 10%;
    min-width: 20px;
    padding: 1rem;
    border: 5px solid black;
}
footer{
    border: 5px  solid black;
}