body {
    font-family: 'Lemon';
    display: grid;
}
header {
    display: grid;
    background-color: burlywood;
    margin: 1%;
    border: 5px solid black;
}
.logo{
    float: left;
    width: 25%;
    margin: 20px;
    max-width: 150px;
    border: 5px solid #efefef;
    box-shadow: 5px 5px 10px;
}
span{
    display: inline-flex;
    flex-direction: row;
    padding-top: 25%;
    font-size:x-large;
}
#mode{
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: x-large;
}
main{
    display: flex;
    flex-direction: column;
}
.hero {
	margin: 10px auto;
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
}

.hero picture {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.herolabel {
	position: absolute;
	top: 30px;
	left: 30px;
	background: radial-gradient(#fff, burlywood);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.5;
}

.herolabel p {
	margin: 0;
	padding: .25rem;
	font-weight: 800;
	font-size: 2rem;
}
nav, footer{
    border: 5px solid black;
    margin: 1%;
}
nav, p, footer {
    font-family: 'Salsa';
    margin-bottom: 5%;
    justify-self: normal;
}
#menu {
	font-size: 2rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 10px 7px 6px;
	background-color: burlywood;
	color: #000;
}
#menu::before {
	content: "☰";
}
#menu.open::before {
	content: "X";
}
nav {
    background-color: burlywood;
    justify-items: center;
}
nav .navlist {
    display: none;
}
nav ul {
    list-style-type: none;
}
nav a {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    padding: 1rem;
    text-decoration: none;
    color: #000000;
}
nav a:hover {
    background-color: #E0E1DD;
    color:#000000
}
.learning, .information {
    list-style-type: none;
    padding-inline-start: 0px;
}
.learning li a, .information li a {
    display: flex;
    flex-direction: column;
}
h1{
    display: flex;
    text-align: center;
    justify-content: space-between;
}
.card {
    background-color: burlywood;
    align-self: center;
    text-align: center;
    width: 85%;
    margin-bottom: 10%;
    min-width: 20px;
    padding: 1rem;
    border: 5px solid black;
}
iframe {
    align-self: center;
    width: 95%;
}
footer {
    display: flex;
    justify-content: space-evenly;
    background-color: burlywood;
    
}
footer span{
    font-size: medium;
}