@media screen and (min-width:700px) {
body{
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
    
}
header, nav, footer{ 
    grid-column:1/4 ;
}
.logo{
    float: left;
    width: 25%;
    margin: 5%;
    max-width: 150px;
    border: 5px solid #efefef;
    box-shadow: 5px 5px 10px;
}
span{
    padding-top:10%;
    font-size: xx-large;
}
ul{
    list-style-type: none;
}
li{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    float: left;
    padding: 1rem;

}
h1{
    display: inline-block;
    width: 100%;
    margin-top: 0;
}
nav, p, footer {
    font-family: 'Salsa';
}
nav{
    background-color: burlywood;
}
#menu {
    display: none;
}

nav .navlist{
    display: flex;
    flex-direction: row;
    color:black;
}
nav .navlist li{
    display: block;
}
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.hero {
	position: relative;
	border: 1px solid rgba(0,0,0,.1);
}

.hero picture {
    width: 100%;
    height: auto;
	object-fit: cover;
}

.card {
    display: grid;
    width: 25%;
    margin: 1%;
    padding: ;
    text-align: center;
    border: 2px solid black;
    box-shadow: 5px 5px 10px;
}
iframe {
    justify-self: center;
}

footer {
    background-color: burlywood;
}
}